@import 'tailwindcss';

:root {
  --spacing: 0.3125rem;
  --breakpoint-lg: 64rem;
  --breakpoint-2xl: 96rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --blur-xs: 4px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --aspect-video: 16 / 9;
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-sans--font-feature-settings: 'ss12' on;
  --font-rounded: ui-rounded, var(--font-sans);
  --font-rounded--font-feature-settings: var(--font-sans--font-feature-settings);
  --color-green-1: #38744d;
  --color-green-2: #cbffa6;
  --color-light: #fafbfc;
  --color-silver-load: #e6ebf2;
  --color-silver-field: #eef1f5;
  --color-silver-active: #e3e6eb;
  --color-silver-icon: #afb4bc;
  --color-silver-sticker: #acb4bf;
  --color-silver-font: #858c97;
  --color-pink: #ff40ff;
  --color-pink-light: #ffecff;
  --color-blue: #0af;
  --color-blue-light: #00aaff1a;
  --color-red: #ff193f;
  --color-black-tisa: #404040;
  --color-black: #000;
  --color-white: #fff;
  --color-inherit: inherit;
  --text-xs: 0.78125rem;
  --text-xs--line-height: 1.2;
  --text-xs--letter-spacing: 0.03em;
  --text-sm: 0.9375rem;
  --text-sm--line-height: 1.25rem;
  --text-sm--letter-spacing: -0.02em;
  --text-base: 1.125rem;
  --text-base--line-height: 1.5625rem;
  --text-base--letter-spacing: -0.02em;
  --text-lg: 1.40625rem;
  --text-lg--line-height: 1.5625rem;
  --text-lg--letter-spacing: -0.02em;
  --text-xl: 1.5625rem;
  --text-xl--line-height: 1.2;
  --text-xl--letter-spacing: -0.02em;
  --text-2xl: 1.875rem;
  --text-2xl--line-height: 1;
  --text-2xl--letter-spacing: -0.02em;
  --text-3xl: 2.1875rem;
  --text-3xl--line-height: 1;
  --text-3xl--letter-spacing: -0.02em;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --tracking-tightest: -0.03em;
  --tracking-tight: -0.01em;
  --tracking-normal: 0em;
  --tracking-wide: 0.01em;
  --radius-xs: 0.3125rem;
  --radius-sm: 0.625rem;
  --radius-md: 0.9375rem;
  --radius-lg: 1.25rem;
  --radius-xl: 1.5625rem;
  --radius-2xl: 1.875rem;
  --radius-3xl: 2.1875rem;
  --radius-4xl: 2.5rem;
  --radius-full: 62.4375rem;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: var(--ease-in-out);
  --default-font-family: var(--font-sans);
  --default-font-feature-settings: var(--font-sans--font-feature-settings);
  --font-control-upright: 'Control Upright', var(--font-sans);
  --font-times-new-roman: 'Times New Roman', Times, ui-serif, Georgia, Cambria, serif;
  --color-stone-1: #181816;
  --color-stone-2: #41403e;
  --color-stone-3: #6a6967;
  --color-stone-4: #908f8e;
  --color-stone-5: #a29e9c;
  --color-stone-6: #efefef;

  /* --text: #6b6375; */
  /* --text-h: #08060d; */
  /* --bg: #fff; */
  /* --border: #e5e4e7; */
  /* --code-bg: #f4f3ec; */
  /* --accent: #aa3bff; */
  /* --accent-bg: rgba(170, 59, 255, 0.1); */
  /* --accent-border: rgba(170, 59, 255, 0.5); */
  /* --social-bg: rgba(244, 243, 236, 0.5); */
  /* --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px; */
  /* --light: '#fafbfc'; */
  /* --light: '#fafbfc'; */

  /* --sans: system-ui, 'Segoe UI', Roboto, sans-serif; */
  /* --heading: system-ui, 'Segoe UI', Roboto, sans-serif; */
  /* --mono: ui-monospace, Consolas, monospace; */

  font: 18px/145% var(--font-sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  /* color: var(--text); */
  /* background: var(--bg); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-green-1: #38744d;
    --color-green-2: #cbffa6;
    --color-light: #fafbfc;
    --color-silver-load: #e6ebf2;
    --color-silver-field: #eef1f5;
    --color-silver-active: #e3e6eb;
    --color-silver-icon: #afb4bc;
    --color-silver-sticker: #acb4bf;
    --color-silver-font: #858c97;
    --color-pink: #ff40ff;
    --color-pink-light: #ffecff;
    --color-blue: #0af;
    --color-blue-light: #00aaff1a;
    --color-red: #ff193f;
    --color-black-tisa: #404040;
    --color-black: #000;
    --color-white: #fff;
    --color-stone-1: #181816;
    --color-stone-2: #41403e;
    --color-stone-3: #6a6967;
    --color-stone-4: #908f8e;
    --color-stone-5: #a29e9c;
    --color-stone-6: #efefef;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
.appear {
  animation: appear 0.5s ease-in;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}
